<h1>Listing the slots you have booked</h1>

<table class="table table-bordered">
  <tr>
    <th>Booking type</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Payment amount</th>
    <th>Payment reference</th>
    <th>User</th>
    <th>Parking space lot</th>
    <th>Delete</th>
  </tr>

<% @parking_lot_bookings.each  do |parking_lot_booking| %>
  <tr>
    <td><%= parking_lot_booking.booking_type_id %></td>
    <% if parking_lot_booking.end_date?  %> 
    <td><%= parking_lot_booking.end_date.strftime("%Y-%m-%d") %> <%= parking_lot_booking.end_time.strftime(" %H:%M:%S")  %></td> 
    <% else %>
    <td><%= parking_lot_booking.start_date.strftime("%Y-%m-%d") %> <%= parking_lot_booking.end_time.strftime(" %H:%M:%S")  %></td>
    <%end%> 
    <td><%= parking_lot_booking.payment_amount %></td>
    <td><%= parking_lot_booking.payment_reference %></td>
    <td><%= parking_lot_booking.user %></td>
    <td><%= parking_lot_booking.parking_space_lot %></td>
    <td><%= link_to parking_space_lot, method: :delete, data: { confirm: 'Are you sure?' } do%>
	<i class="icon-trash" title="Delete"></i>
	<%end%></td> 
  </tr>
<% end %>
</table>

<br />