<%= form_for(@parking_space_lot) do |f| %>
  <% if @parking_space_lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_space_lot.errors.count, "error") %> prohibited this parking_space_lot from being saved:</h2>

      <ul>
      <% @parking_space_lot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :allowed_vehicle_type_id %><br />
    <%= f.number_field :allowed_vehicle_type_id %>
  </div>
  <div class="field">
    <%= f.label :number_of_lots %><br />
    <%= f.number_field :number_of_lots %>
  </div>
  <div class="field">
    <%= f.label :preferred_duration_type_id %><br />
    <%= f.number_field :preferred_duration_type_id %>
  </div>
  <div class="field">
    <%= f.label :parking_space %><br />
    <%= f.text_field :parking_space %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
