<h3>My Parking Lots</h3>

<table class="table table-bordered zebra-striped">
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Allowed vehicle type</th>
    <th>Number of lots</th>
    <th>Preferred duration type</th>
    <th>Parking space</th>
    <th>Actions</th>
  </tr>

<% @parking_space_lots.each do |parking_space_lot| %>
  <tr>
  	<td><%= parking_space_lot.start_date.strftime("%Y-%m-%d") %> <%= parking_space_lot.start_time.strftime(" %H:%M:%S") %></td>
    <% if parking_space_lot.end_date?  %> 
    <td><%= parking_space_lot.end_date.strftime("%Y-%m-%d") %> <%= parking_space_lot.end_time.strftime(" %H:%M:%S")  %></td> 
    <% else %>
    <td><%= parking_space_lot.start_date.strftime("%Y-%m-%d") %> <%= parking_space_lot.end_time.strftime(" %H:%M:%S")  %></td>
    <%end%>  
    <td><%= parking_space_lot.allowed_vehicle_type_id %></td>
    <td><%= parking_space_lot.number_of_lots %></td>
    <td><%= parking_space_lot.preferred_duration_type_id %></td>
    <td><%= parking_space_lot.parking_space.place %></td>
    
    <td>
    
    <%= link_to edit_parking_space_lot_path(parking_space_lot) do%>
	<i class="icon-pencil" title="Edit"></i>
	<%end%>
	<%= link_to parking_space_lot, method: :delete, data: { confirm: 'Are you sure?' } do%>
	<i class="icon-trash" title="Delete"></i>
	<%end%>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Create new parking place', new_parking_space_path %>
<br />
