<%= form_for(@parking_space) do |f| %>
  <% if @parking_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_space.errors.count, "error") %> prohibited this parking_space from being saved:</h2>

      <ul>
      <% @parking_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
       <div class="span6">
         <div class="field">
           <%= f.label :place %><br />
           <%= f.text_field :place %>
         </div>
         <div class="field">
           <%= f.label :address %><br />
           <%= f.text_area :location_address, :rows => "5" %>
         </div>
         <div class="field">
           <%= f.label :location_x %><br />
           <%= f.text_field :location_x %>
         </div>
         <div class="field">
           <%= f.label :location_y %><br />
           <%= f.text_field :location_y %>
         </div>
         <div class="field">
           <%= f.label :contact_number %><br />
           <%= f.text_field :contact_number %>
         </div>
       </div>
       <div class="span6">
             <img src="http://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap&markers=color:green%7Clabel:P%7C13.012802936299424,80.20887225866318&sensor=false">
       </div>
  </div>
  <h2>Parking Slot Details:</h2>
  <%= fields_for :parking_space_lot do |parking_space_lot_fields| %>
  <div class="field">
    <%= parking_space_lot_fields.label :start_date %><br />
    <%= parking_space_lot_fields.date_select :start_date %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :end_date %><br />
    <%= parking_space_lot_fields.date_select :end_date %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :start_time %><br />
    <%= parking_space_lot_fields.time_select :start_time %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :end_time %><br />
    <%= parking_space_lot_fields.time_select :end_time %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :allowed_vehicle_type_id %><br />
    <%= parking_space_lot_fields.select :allowed_vehicle_type_id, options_for_select(@allowed_vehicle_types),{},{} %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :number_of_lots %><br />
    <%= parking_space_lot_fields.number_field :number_of_lots %>
  </div>
  <div class="field">
    <%= parking_space_lot_fields.label :preferred_duration_type_id %><br />
    <%= parking_space_lot_fields.select :preferred_duration_type_id, options_for_select(@preferred_duration_types),{},{} %>
  </div>  
  <% end %>
  <div class="well">
       <table class="table">
       <tr>
              <th>#</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Number of lots</th>
              <th>Slot Type</th>   
       </tr>
  
  <tr>
       <td>1</td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%=  %></td>    
  </tr>  
  
       </table>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
