<%= form_for(@parking_space) do |f| %>
  <% if @parking_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking_space.errors.count, "error") %> prohibited this parking_space from being saved:</h2>

      <ul>
      <% @parking_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
       <div class="span6">
         <div class="field">
           <%= f.label :place %><br />
           <%= f.text_field :place %>
         </div>
         <div class="field">
           <%= f.label :address %><br />
           <%= f.text_area :location_address, :rows => "5" %>
         </div>
           <%= f.hidden_field  :location_x, :id => "maplongitude" %>
           <%= f.hidden_field  :location_y, :id => "maplatitude" %>
         <div class="field">
           <%= f.label :contact_number %><br />
           <%= f.text_field :contact_number%>
         </div>
       </div>
       <div class="span6">
       		<div class="searchBarControls">
			<div class="field">
				<input type="text" id="txtMapAddress" class="search-query" placeholder="Search parking by address, city, neighborhood, landmark or zip code">
				<a href="javascript:void(0);" id="mapsearch" class="btn btn-inverse"><i class="icon-white icon-search"></i> Search</a>
			</div>	
			<br />
			<div id="map_canvas" style="width:100%;height:350px;"></div>
	        </div>
       </div>
  </div>
  <h3>Parking Slot Details:</h3>
  <%= fields_for :parking_space_lot do |f| %>
  <div class="field">
  	<%= f.label :start_date %>
  	<div class="input-append datetimepicker2">
		<%= f.text_field :start_date, :as => :string , "data-format" => "MM/dd/yyyy"%>
		<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i> </span>
	</div>
  </div>
  <div class="field">
  	<%= f.label :end_date %>
  	<div class="input-append datetimepicker2">
  		<%= f.text_field :end_date, :as => :string , "data-format" => "MM/dd/yyyy"%>
		<span class="add-on"> <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i> </span>
	</div>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :allowed_vehicle_type_id %><br />
    <%= f.select :allowed_vehicle_type_id, options_for_select(@allowed_vehicle_types),{},{} %>
  </div>
  <div class="field">
    <%= f.label :number_of_lots %><br />
    <%= f.number_field :number_of_lots %>
  </div>
  <div class="field">
    <%= f.label :preferred_duration_type_id %><br />
    <%= f.select :preferred_duration_type_id, options_for_select(@preferred_duration_types),{},{} %>
  </div>  
  <% end %>

  
  <div class="" >
    <%= f.submit :class => 'btn btn-inverse' %> 
  </div>
<% end %>
