<p id="notice"><%= notice %></p>

<p>
  <b>Location address:</b>
  <%= @parking_space.location_address %>
</p>

<p>
  <b>Location x:</b>
  <%= @parking_space.location_x %>
</p>

<p>
  <b>Location y:</b>
  <%= @parking_space.location_y %>
</p>

<p>
  <b>User:</b>
  <%= @parking_space.user %>
</p>


<%= link_to 'Edit', edit_parking_space_path(@parking_space) %> |
<%= link_to 'Back', parking_spaces_path %>
