<p>
  <b>Place:</b>
  <%= @parking_space.place %>
</p>

<p>
  <b>Location address:</b>
  <%= @parking_space.location_address %>
</p>

<p>
  <b>User:</b>
  <%= @parking_space.user.email %>
</p>


<%= link_to 'Edit', edit_parking_space_path(@parking_space) %> |
<%= link_to 'Back', parking_spaces_path %>
