
<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
	<% if !user_signed_in? %>
	<li>
		<%= link_to('Login', new_user_session_path)  %>
	</li>
	<% end %>
	<% if user_signed_in? %>
	<li>
		<%= link_to("Home",:controller => "parking_lot_bookings", :action => "search")  %>
	</li>
	<li>
		<%= link_to("My Bookings",parking_lot_bookings_path)  %>
	</li>
	<li>
		<%= link_to("My Parking Lots",parking_space_lots_path)  %>
	</li>
</ul>
<ul class="nav pull-right">
	<li style="color:white">
		<h5>Hi! <%= current_user.email %> !!!</h5>
	</li>
	<li>
		<%= link_to('Edit account', user_infos_path) %>
	</li>
	<% else %>
	<li>
		<%= link_to('Sign up', new_user_registration_path)  %>
	</li>
	<% end %>
	<% if user_signed_in? %>
	<li>
		<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
	</li>
	<%end%>
</ul>
<div style="float: left; margin: 10px 30px 0 0"><%= image_tag("logo.png", :alt => "icon") %></div>